*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    z-index: 1;
    user-select: none;
}
.wm {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
    opacity: 0.03;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading {
    width: 100%;
    height: 200%;
    position: absolute;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding-top: 200px;
    background-color: #27374D;
}
.none {
    display: none;
}
.wm img {
    width: 50%;
}
body {
    background-color: #27374D;
    background-image: url('./assets/background.gif');
    background-size: cover;
    height: 100vh;
}
header {
    width: 100%;
    position: fixed;
    z-index: 3;
}
footer {
    background-color: rgb(92, 84, 112);
    color: white;
    padding-bottom: 25px;
    box-sizing:border-box;
    position: relative;
    text-align: center;
    padding-top: 5px;
}
.copyr {
    position: absolute;
    width: 100%;
    bottom: 0%;
    text-align: center;
    background-color: rgb(53, 47, 68);
    padding: 5px;
    box-sizing: border-box;
}
.side {
    color: rgb(212, 212, 212);
    margin: 5px 0;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}
.side > hr {
    margin: 0 5px;
}
.medsos {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
.medsos-item {
    display: flex;
    align-items: center;
}
.side-1:last-child {
    width: 30%;
    align-items: flex-start;
}
.side-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 2px;
}
.side-1 p {
    font-size: 13px;
}
.side-1 > span {
    font-size: 15px;
    width: fit-content;
}
.cr {
    width: 100%;
    text-align: end;
}
header nav {
    background-color: rgb(53, 47, 68);
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav:last-child {
    background-color: rgb(92, 84, 112);
    padding: 5px;
    justify-content: center;
}
header nav a {
    color: white;
    text-decoration: none;
    background-color: rgb(145, 146, 146);
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
}
.btn-nav:last-child {
    margin-right: 20px;
}
.btn-nav:hover, .btn-aktif {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px white;
    color: rgb(0, 0, 0);
}
header nav h1 {
    margin-left: 20px;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(189, 189, 189);
    background-color: white;
    border-radius: 10px;
    width: 70%;
}
.search-submit {
    display: flex;
    align-items: center;
    width: fit-content;
}
/* a:hover {
    text-decoration: underline 10px solid blue;
} */
a:hover {
    box-shadow: 0 0 2px white;
}
.search-box input {
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 10px 0 0 10px;
}
.search-box input:focus {
    outline: 0
}
.garis-v {
    background-color: black;
    width: 2px;
    height: 20px;
    margin: 3px;
}
#search {
    border: 0;
    background-color: unset;
    color: black;
    margin-right: 5px;
    width: fit-content;
    height: 30px;
}
#search:active {
    color: rgb(0, 60, 255);
}
nav > h1 {
    display: flex;
    align-items: center;
    position: relative;
}
main {
    color: white;
    padding: 10px;
}
main > section:first-child {
    padding-top: 100px;
}
main > section {
    padding-top: 5px;
    text-align: center;
}
main > #All > div {
    border: 1px solid #9DB2BF;
    background-color: #526d8242;
    box-shadow: 0 0 5px #9DB2BF;
    backdrop-filter: blur(4px);
}
#Ongoing {
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px solid #9DB2BF;
    background-color: #526d8242;
    box-shadow: 0 0 5px #9DB2BF;
    backdrop-filter: blur(4px);
}
#anime-list, #search-results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.anime-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.anime-list a {
    color: white;
    text-decoration: none;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 170px;
}
.cover-anime {
    background-color: grey;
    width: 100px;
    height: 125px;
    border-radius: 5px;
    position: relative;
}
.cover-anime img {
    width: 100%;
    height: 100%;
    image-rendering: optimizeSpeed;
    border-radius: 5px;
}
.jenis-anime {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 2px;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 94, 0),red);
    font-size: smaller;
    border-radius: 3px;
    box-shadow: 0 0 3px red;
}
.notif-area {
    position: fixed;
    z-index: 4;
    width: 100%;
}
.notif {
    color: white;
    position:absolute;
    margin: 10px;
    padding: 5px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    opacity: 0;
}
.gas {
    animation: notif 3s linear;
}
.n-hp {
    font-size: large;
    display: none;
}


.border-desk {
    padding: 5px;
    background-color: #526d8215;
    display: flex;
    backdrop-filter: blur(5px);
    margin-top: 50px;
    box-shadow: 0 0 5px #526d8279;
    position: relative;
}
.borderBanner {
    width: 100px;
    height: 200px;
    padding: 5px;
    background-color: #27374D;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}
#judulAnime {text-align: center;}
.desk {
    width: 100%;
    padding: 5px;
} .desk > p {
    font-size: small;
}
.borderBanner > span {
    display: flex;
    font-size: small;
}

@keyframes notif {
    0% {
        display: block;
        left: -200px;
    }
    10% {
        display: block;
        left: 0;
        opacity: 1;
    } 95% {
        opacity: 1;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');

@media (max-width: 600px) {
    section > #anime-list, section > #search-results {
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 600px) {
    main {
        padding: 50px 15% 0;
    }
}